<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="text/css" href="static/home.css">
        <title>
            Easy Games
        </title>
    </head>
    <body>
        <h3>
            Let's get our Games right
        </h3>
        <p>
            Let's try getting your Games
            <form action="Easy", method="post">
                Game Name: <input type="text" name="game_name"> <br />
                Console Name:<input type="text" name="console_name"> <br />
                <input type="submit" name="form" value="submit" />
            </form>
        </p>
    </body>
</html>